:root {
  --branding-color:#be9b8a;
  --secondary-color: #f1e4de;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family:"Poppins", sans-serif; 
}

body {
  font-family: var(--default-font-family);
}

h1,h2,h3,h4,h5,h6 {
  font-family:var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
  color: black;
}

h2 {
  font-size: 64px;
  color: black;
}

h4 {
  font-size: 40px;
}

p {
  font-size: 16px;
  line-height:30px;
  font-weight: normal;
  color: black;
}

nav {
  padding: 10px 0;
}

nav ul {
padding: 0;
margin: auto;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 30px;
  margin-left: 15px;
}

nav a {
  color:#554941;
  text-decoration: none;
}


nav a:hover,
nav li.active a {
  color: #b9b0ab;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}
hr {
  border: 2px solid var(--branding-color);
  border-radius: 10px;
}

footer {
  margin: 40px 0;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 60px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #554941;
  font-size: 16px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  font-size: 14px;
  color: #554941;
  background-color: var(--branding-color);
  border-radius: 50%;
  margin: 0 10px;
  padding: 8px 12px;
  transition: all 150ms ease-in-out;
 
}
footer .social-links a:hover {
  color: var(--branding-color);
  background-color: #554941;
}

.hero {
  background-color:var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
 font-size: 36px;
 font-weight: bold;
 margin: 0;
 padding: 0;
 color:var(--branding-color)
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal; 
  font-size: 24px;
  line-height: 1.5;
}

.content-container {
  padding: 160px 20px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
 font-size: 18px;
 font-family: var(--default-font-family); 
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size:18px ;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size:18px ;
  line-height: 27px;
  padding: 15px 30px; 
}

.project-description {
  padding: 60px 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 42px; 
    line-height: 56px; 
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}